.clr {
  clear: both;
}
.floatleft {
  float: left;
}
body,
html {
  margin: 0;
}
.container {
  width: 1500px;
  margin: 0 auto;
  box-shadow: 0 0 10px black;
  min-height: 100vh;
}
.header {
  height: 103px;
}
.imgheader {
  padding-left: 183px;
  padding-top: 22px;
  float: left;
}
.navhead {
  padding-top: 48px;
  float: right;
}
.navheadbutton {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-right: 33px;
  font-weight: bold;
}
.lastbutton:hover,
.navheadbutton:hover {
  color: red;
}
.lastbutton {
  margin-right: 181px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.main {
  min-height: 5190px;
}
.mainhead {
  height: 684px;
}
.mainheadimgleft {
  float: left;
}
.mainheadimgright {
  float: right;
}
.imgtextmain {
  position: absolute;
  margin-top: 500px;
  margin-left: 182px;
  display: block;
}
.booknow {
  height: 122px;
  width: 1142px;
  background-image: url(img/Rectangle\ 8.png);
  margin-left: 10%;
  margin-top: 55px;
}
.underbook {
  display: block;
  position: relative;
  padding-top: 35px;
  width: 1142px;
}
.inputbook {
  height: 49px;
  width: 192px;
  margin-left: 15px;
  margin-top: 32px;
}
.inputbook1 {
  height: 49px;
  width: 192px;
  margin-left: 33px;
  margin-top: 32px;
}
.submitbook {
  margin-left: 15px;
  height: 49px;
  width: 167px;
  background-color: darkviolet;
  font-weight: bold;
  color: white;
  margin-top: 32px;
}
.submitbook:hover {
  background-color: #4b0469;
  color: #ffb1e1;
}
.awardwinninghotels {
  margin-top: 128px;
  height: 909px;
  width: 1140px;
  padding-left: 180px;
  padding-right: 180px;
}
.awardwinninghotelstext {
  font-size: 55px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 42px;
}
.gridhotels {
  display: grid;
  min-height: 740px;
  grid-template-columns: 353px 353px 353px;
  grid-template-rows: 343px 343px;
  grid-row-gap: 51px;
  grid-column-gap: 40px;
}
.headspangridhotels {
  display: block;
  margin-top: 25px;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-align: center;
}
.morebuttonhotels > a {
  height: 37px;
  width: 173px;
  border: 2px solid #a815a8;
  color: #a815a8;
  display: block;
  text-align: center;
  padding-top: 15px;
  margin-left: 45%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.morebuttonhotels > a:hover {
  border: 2px solid #3b053b;
  color: #3b053b;
}
.winneractivitieshead {
  font-size: 80px;
  color: black;
  text-align: center;
  font-weight: bold;
}
.imgwinneractivities {
  height: 600px;
  width: 1500px;
  overflow: hidden;
}
.imgblockwinneractiv_1 {
  background-image: url(img/Layer\ 21.png);
  float: left;
  height: 600px;
  width: 300px;
}
.imgblockwinneractiv_2 {
  background-image: url(img/Layer\ 22.png);
  float: left;
  height: 600px;
  width: 300px;
}
.imgblockwinneractiv_3 {
  background-image: url(img/Layer\ 23.png);
  float: left;
  height: 600px;
  width: 300px;
}
.imgblockwinneractiv_4 {
  background-image: url(img/Layer\ 20.png);
  float: left;
  height: 600px;
  width: 300px;
}
.imgblockwinneractiv_5 {
  background-image: url(img/Layer\ 24.png);
  float: left;
  height: 600px;
  width: 300px;
}
.imgblocktext {
  color: white;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 10px;
  line-height: 1.5;
}
.imgblocktexthead {
  color: white;
  font-size: 50px;
  padding-top: 430px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.DELUXEROOMSWITHABEAUTIFULVIEWhead {
  text-align: center;
  font-size: 80px;
}
.gridblockDELUXEROOM {
  display: grid;
  height: 535px;
  width: 1140px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 60px;
  margin: auto;
  margin-bottom: 40px;
}
.gridblockdeluxeroom_2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gridcenter {
  justify-self: center;
}
.headgriddeluxe {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.textgriddeluxe {
  font-size: 16px;
}
.WINTERWEATHER {
  margin-top: 94px;
  height: 555px;
  width: 1500px;
  background-image: url(img/Layer\ 8.png);
  margin-bottom: 105px;
}
.mainWINTERWEATHERcorrect {
  height: 390px;
  width: 480px;
  float: right;
  margin-right: 185px;
  margin-top: 110px;
}
.WINTERWEATHERbutton > a {
  background-color: blue;
  height: 37px;
  width: 173px;
  color: white;
  display: block;
  text-align: center;
  padding-top: 15px;
  margin-left: 45%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 45px;
  float: left;
  margin-left: 0;
}
.WINTERWEATHERbutton > a:hover {
  color: white;
  background-color: #5555ff;
}
.WINTERWEATHERhead {
  color: white;
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 13px;
}
.WINTERWEATHERtext {
  font-size: 16px;
  color: white;
  margin-left: 11px;
  text-shadow: 5px 5px black;
}
.NewsFromUshead {
  text-align: center;
  color: black;
  font-size: 110px;
  font-weight: bold;
  margin-bottom: 80px;
}
.gridblockNEWSFROMUS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 460px;
  width: 1140px;
  margin: auto;
  grid-column-gap: 40px;
}
.headtextNEWS {
  font-size: 16px;
  font-weight: bold;
}
.textNEWS {
  font-size: 16px;
}
.NEWSbutton {
  margin-bottom: 70px;
  margin-top: 55px;
}
.footer {
  height: 376px;
  width: 1500px;
  background-image: url(img/Rectangle\ 1\ copy\ 16.png);
}
.mainfooter {
  height: 256px;
}
.centeringimg {
  margin-left: 10%;
  display: block;
}
.downfooter {
  height: 40px;
  color: white;
  text-align: center;
  padding-top: 25px;
}
.flexbox_footer {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
}
.flexFooter {
  width: 300px;
  margin: 25px;
  padding-top: 20px;
  color: white;
  font-size: 18px;
}
.head_footer {
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding-top: 25px;
}
